*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, red , yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
}